/* main section */
#main h3 {
  color: var(--darkblue);
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

#main h4,
#main h2,
#main p {
  color: var(--darkblue);
  text-shadow: 2px 2px 3px rgba(246, 249, 245, 0.6);
}

#main p span {
  background-color: var(--lightgreen);
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

#main .btn {
  background-color: var(--lightgreen);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s ease-in;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
#main .btn:hover {
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.6);
}
